$fondo: rgb(44, 17, 87);

.btn{
    background: $fondo;
    color: white;
    text-decoration: none;

    &:hover{
        color: white;
        background:  rgb(67, 0, 250);
        border: 1px solid white;
    }
}  
.btn{
    padding: 1rem 1rem;
    background-color: violet;
}