@use '../base' as base;

$fondo: rgb(44, 17, 87);

.btn{
    background: base.$fondo;
    color: white;
    text-decoration: none;

    &:hover{
        color: white;
        background:  rgb(23, 6, 71);
        border: 1px solid rgb(189, 189, 189);
    }
}  