html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}  
body {
    margin: 0;
}
.cuadrado {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(180deg, rgb(196, 34, 141) 0%, rgb(61, 58, 200) 100%);
    border-color: rgba(255, 255, 255, 0);
    border-width: 1px;
    border-style: solid;
  }